<html>
  <head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="background-color: rgb(196, 167, 130);">
    <div id="login-container">
      <div class="profile-img"></div>
      <h1>
        Dixita Devi
      </h1>
      <div class="description">
        With an innate love of writing code and devoloping web apps, I have a keen interest in software development. I first started by programming in C, and have acquired the knowledge of programming in different languages like C++, Java, Go, Javascript and Python. I am also interested in solving real life problems with Machine Learning and IOT. Currently, I'm brushing up my Data Structures and Algorithm skills in Python and I also seek to learn Android Development and Cybersecurity and work as a software developer.
      </div>
      <footer>
        <div>
          <p><strong>Regn No.:</strong> 201800059</p>
          <p><strong>Email:</strong> dixita_201800059@smit.smu.edu.in</p>
        </div>
      </footer>
    </div>
  </body>
</html>
